# Add any directories, files, or patterns you don't want to be tracked by version control

# IntelliJ project configuration
.idea/
*.iml

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform module and provider caches
.terraform/
.terraform.lock.hcl
